<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,262},{229,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,75}}</string>
                <key>sourceSize</key>
                <string>{229,75}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,70},{200,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,66}}</string>
                <key>sourceSize</key>
                <string>{200,66}</string>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,434},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,138},{88,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,179}}</string>
                <key>sourceSize</key>
                <string>{88,179}</string>
            </dict>
            <key>btn_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,77}}</string>
                <key>sourceSize</key>
                <string>{288,77}</string>
            </dict>
            <key>btn_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{200,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,66}}</string>
                <key>sourceSize</key>
                <string>{200,66}</string>
            </dict>
            <key>btn_confirm_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{229,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,75}}</string>
                <key>sourceSize</key>
                <string>{229,75}</string>
            </dict>
            <key>btn_dispress.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,350},{228,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,82}}</string>
                <key>sourceSize</key>
                <string>{228,82}</string>
            </dict>
            <key>btn_exit_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,262},{228,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,82}}</string>
                <key>sourceSize</key>
                <string>{228,82}</string>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,262},{254,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,86}}</string>
                <key>sourceSize</key>
                <string>{254,86}</string>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,184},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>btn_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,138},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{279,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,86}}</string>
                <key>sourceSize</key>
                <string>{279,86}</string>
            </dict>
            <key>item_bg_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{279,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,91}}</string>
                <key>sourceSize</key>
                <string>{279,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btn.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>btn.png</string>
        </dict>
    </dict>
</plist>
