<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PopupScene14.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,113},{228,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,54}}</string>
                <key>sourceSize</key>
                <string>{228,54}</string>
            </dict>
            <key>PopupScene15.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,169},{226,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,54}}</string>
                <key>sourceSize</key>
                <string>{226,54}</string>
            </dict>
            <key>PopupScene16.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,379},{116,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>PopupScene17.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,428},{108,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,52}}</string>
                <key>sourceSize</key>
                <string>{108,52}</string>
            </dict>
            <key>PopupScene18.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,230},{196,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,54}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>PopupScene20.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,57},{228,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,54}}</string>
                <key>sourceSize</key>
                <string>{228,54}</string>
            </dict>
            <key>PopupScene21.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{226,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,55}}</string>
                <key>sourceSize</key>
                <string>{226,55}</string>
            </dict>
            <key>PopupScene22.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,279},{98,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,47}}</string>
                <key>sourceSize</key>
                <string>{98,47}</string>
            </dict>
            <key>PopupScene23.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,225},{224,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,52}}</string>
                <key>sourceSize</key>
                <string>{224,52}</string>
            </dict>
            <key>PopupScene24.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,230},{229,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,54}}</string>
                <key>sourceSize</key>
                <string>{229,54}</string>
            </dict>
            <key>PopupScene25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{451,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,53}}</string>
                <key>sourceSize</key>
                <string>{451,53}</string>
            </dict>
            <key>PopupScene26.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,428},{110,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,47}}</string>
                <key>sourceSize</key>
                <string>{110,47}</string>
            </dict>
            <key>PopupScene27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{239,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,53}}</string>
                <key>sourceSize</key>
                <string>{239,53}</string>
            </dict>
            <key>PopupScene28.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,230},{236,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,53}}</string>
                <key>sourceSize</key>
                <string>{236,53}</string>
            </dict>
            <key>PopupScene29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{187,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,45}}</string>
                <key>sourceSize</key>
                <string>{187,45}</string>
            </dict>
            <key>PopupScene30.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,462},{176,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,48}}</string>
                <key>sourceSize</key>
                <string>{176,48}</string>
            </dict>
            <key>PopupScene8.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,230},{230,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,54}}</string>
                <key>sourceSize</key>
                <string>{230,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PopupScene.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>PopupScene.png</string>
        </dict>
    </dict>
</plist>
