<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{418,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,445}}</string>
                <key>sourceSize</key>
                <string>{418,445}</string>
            </dict>
            <key>dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{1108,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1108,88}}</string>
                <key>sourceSize</key>
                <string>{1108,88}</string>
            </dict>
            <key>fangka.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,380},{61,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,38}}</string>
                <key>sourceSize</key>
                <string>{61,38}</string>
            </dict>
            <key>fangkashu.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,800},{199,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,64}}</string>
                <key>sourceSize</key>
                <string>{199,64}</string>
            </dict>
            <key>fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1026},{139,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,70}}</string>
                <key>sourceSize</key>
                <string>{139,70}</string>
            </dict>
            <key>id.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,420},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>jiaru.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,483}}</string>
                <key>sourceSize</key>
                <string>{376,483}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,800},{350,152}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,152}}</string>
                <key>sourceSize</key>
                <string>{366,152}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1001},{148,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,69}}</string>
                <key>sourceSize</key>
                <string>{148,69}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1910},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>wanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1910},{130,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,70}}</string>
                <key>sourceSize</key>
                <string>{130,70}</string>
            </dict>
            <key>xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,954},{155,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,70}}</string>
                <key>sourceSize</key>
                <string>{155,70}</string>
            </dict>
            <key>zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,954},{139,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,70}}</string>
                <key>sourceSize</key>
                <string>{139,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_new.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>textureFileName</key>
            <string>hall_new.png</string>
        </dict>
    </dict>
</plist>
