<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainScene_new13.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,229},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>MainScene_new14.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,305},{135,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,114}}</string>
                <key>sourceSize</key>
                <string>{135,114}</string>
            </dict>
            <key>MainScene_new18.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,269},{170,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,34}}</string>
                <key>sourceSize</key>
                <string>{170,34}</string>
            </dict>
            <key>MainScene_new2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{241,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,42}}</string>
                <key>sourceSize</key>
                <string>{241,42}</string>
            </dict>
            <key>MainScene_new20.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,229},{61,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,38}}</string>
                <key>sourceSize</key>
                <string>{61,38}</string>
            </dict>
            <key>MainScene_new4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{716,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,36}}</string>
                <key>sourceSize</key>
                <string>{716,36}</string>
            </dict>
            <key>MainScene_new5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>MainScene_new52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>MainScene_new53.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,229},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>MainScene_new57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,225}}</string>
                <key>sourceSize</key>
                <string>{259,225}</string>
            </dict>
            <key>MainScene_new58.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,46},{239,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,224}}</string>
                <key>sourceSize</key>
                <string>{239,224}</string>
            </dict>
            <key>MainScene_new59.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,272},{201,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,223}}</string>
                <key>sourceSize</key>
                <string>{201,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainScene_new.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>MainScene_new.png</string>
        </dict>
    </dict>
</plist>
