<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mr_meishuzi_woxia_meikanjian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,475},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>Mr_zhuomian_an_butouqingzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,438},{79,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,35}}</string>
                <key>sourceSize</key>
                <string>{79,35}</string>
            </dict>
            <key>Mr_zhuomian_an_cuopai.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,312},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>Mr_zhuomian_an_fanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,354},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,40}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>Mr_zhuomian_an_liangpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,351},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,40}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>Mr_zhuomian_an_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,396},{87,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,40}}</string>
                <key>sourceSize</key>
                <string>{87,40}</string>
            </dict>
            <key>Mr_zhuomian_an_toumingde.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,98},{202,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,88}}</string>
                <key>sourceSize</key>
                <string>{202,88}</string>
            </dict>
            <key>Mr_zhuomian_an_toumingde1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,234},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>Mr_zhuomian_an_toumingde2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,354},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>Mr_zhuomian_an_zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,188},{140,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,49}}</string>
                <key>sourceSize</key>
                <string>{140,49}</string>
            </dict>
            <key>cxyl_meishuzi_new_niux_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,434},{34,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>cxyl_zhuomian_ann_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,136},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,92}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>cxyl_zhuomian_chongzhizhong_371.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,324},{117,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,34}}</string>
                <key>sourceSize</key>
                <string>{117,34}</string>
            </dict>
            <key>cxyl_zhuomian_tishidi_fu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,188},{134,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{134,66}}</string>
                <key>sourceSize</key>
                <string>{152,76}</string>
            </dict>
            <key>cxyl_zhuomian_tishidi_fu_shuzi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,344},{140,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,19}}</string>
                <key>sourceSize</key>
                <string>{140,21}</string>
            </dict>
            <key>cxyl_zhuomian_tishidi_fu_shuzi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,496},{14,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{14,3}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>cxyl_zhuomian_tishidi_sheng_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{150,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,74}}</string>
                <key>sourceSize</key>
                <string>{152,76}</string>
            </dict>
            <key>cxyl_zhuomian_tishidi_sheng_shuzi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,78},{140,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,19}}</string>
                <key>sourceSize</key>
                <string>{140,21}</string>
            </dict>
            <key>cxyl_zhuomian_tishidi_sheng_shuzi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,496},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>cxyl_zhuomian_tishidi_wenzi_zhengzaiguanzhanzhong_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,136},{213,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{213,41}}</string>
                <key>sourceSize</key>
                <string>{215,43}</string>
            </dict>
            <key>cxyl_zhuomian_tishidi_wenzi_zhengzaiguanzhanzhong_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{494,35}}</string>
                <key>sourceSize</key>
                <string>{496,37}</string>
            </dict>
            <key>cxyl_zhuomian_touxiangkuangdi_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{204,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,94}}</string>
                <key>sourceSize</key>
                <string>{204,94}</string>
            </dict>
            <key>cxyl_zhuomian_touxiangkuangdi_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,344},{96,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,146}}</string>
                <key>sourceSize</key>
                <string>{106,156}</string>
            </dict>
            <key>cxyl_zhuomian_touxiangkuangdi_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,188},{104,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,154}}</string>
                <key>sourceSize</key>
                <string>{106,156}</string>
            </dict>
            <key>cxyl_zhuomian_touxiangkuangdi_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,330},{111,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,38}}</string>
                <key>sourceSize</key>
                <string>{111,38}</string>
            </dict>
            <key>cxyl_zhuomian_touxiangkuangdi_zi_qingzuo_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,99},{134,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{134,35}}</string>
                <key>sourceSize</key>
                <string>{136,37}</string>
            </dict>
            <key>cxyl_zhuomian_touxiangkuangdi_zi_qingzuo_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,443},{67,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,74}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
            <key>cxyl_zhuomian_tubiao_zaixian_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,442},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,27}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>cxyl_zhuomian_xinxitishi_tubiao_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,470},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,20}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>nhn_douniu_chouma_jinbi_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,475},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,29}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desk_niuniu.png</string>
            <key>size</key>
            <string>{403,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c3795421d7380d42fabd64c27c4974e:1/1$</string>
            <key>textureFileName</key>
            <string>desk_niuniu.png</string>
        </dict>
    </dict>
</plist>
