<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mr_erji_chouma.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,752},{111,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,38}}</string>
                <key>sourceSize</key>
                <string>{113,40}</string>
            </dict>
            <key>Mr_erji_huangsekuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,352},{111,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,66}}</string>
                <key>sourceSize</key>
                <string>{111,66}</string>
            </dict>
            <key>Mr_erji_huangsekuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,646},{110,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,66}}</string>
                <key>sourceSize</key>
                <string>{110,66}</string>
            </dict>
            <key>Mr_meishuzi_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,884},{91,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,47}}</string>
                <key>sourceSize</key>
                <string>{93,49}</string>
            </dict>
            <key>Mr_meishuzi_erbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,933},{83,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{83,48}}</string>
                <key>sourceSize</key>
                <string>{87,50}</string>
            </dict>
            <key>Mr_meishuzi_qiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,933},{88,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,38}}</string>
                <key>sourceSize</key>
                <string>{88,38}</string>
            </dict>
            <key>Mr_meishuzi_sanbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,933},{85,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,48}}</string>
                <key>sourceSize</key>
                <string>{87,50}</string>
            </dict>
            <key>Mr_meishuzi_sibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,885},{85,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,48}}</string>
                <key>sourceSize</key>
                <string>{87,50}</string>
            </dict>
            <key>Mr_meishuzi_woxia_meikanjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,431},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>Mr_meishuzi_yibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,465},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{75,48}}</string>
                <key>sourceSize</key>
                <string>{87,50}</string>
            </dict>
            <key>Mr_meishuzi_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,889},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>Mr_meishuzi_zhunbeixiaoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,402},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,27}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{113,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,48}}</string>
                <key>sourceSize</key>
                <string>{113,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{113,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,48}}</string>
                <key>sourceSize</key>
                <string>{113,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,769},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,720},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,702},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,652},{113,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,48}}</string>
                <key>sourceSize</key>
                <string>{113,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,670},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{172,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,48}}</string>
                <key>sourceSize</key>
                <string>{172,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,402},{174,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,48}}</string>
                <key>sourceSize</key>
                <string>{174,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{174,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,48}}</string>
                <key>sourceSize</key>
                <string>{174,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,452},{172,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,48}}</string>
                <key>sourceSize</key>
                <string>{172,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,352},{174,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,48}}</string>
                <key>sourceSize</key>
                <string>{174,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{172,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,48}}</string>
                <key>sourceSize</key>
                <string>{172,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,607},{73,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,37}}</string>
                <key>sourceSize</key>
                <string>{73,37}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,969},{87,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,46}}</string>
                <key>sourceSize</key>
                <string>{89,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,836},{95,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{95,46}}</string>
                <key>sourceSize</key>
                <string>{107,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,818},{105,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,46}}</string>
                <key>sourceSize</key>
                <string>{107,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,792},{105,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,46}}</string>
                <key>sourceSize</key>
                <string>{107,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,770},{105,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,46}}</string>
                <key>sourceSize</key>
                <string>{107,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,653},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,620},{114,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,48}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{115,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,48}}</string>
                <key>sourceSize</key>
                <string>{115,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{114,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{114,44}}</string>
                <key>sourceSize</key>
                <string>{116,46}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,574},{115,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,44}}</string>
                <key>sourceSize</key>
                <string>{117,46}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,604},{112,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,46}}</string>
                <key>sourceSize</key>
                <string>{114,48}</string>
            </dict>
            <key>Mr_meishuzi_zhuomian_bg001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,758},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>cxyl_meishuzi_jinpainiu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{230,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{230,48}}</string>
                <key>sourceSize</key>
                <string>{232,50}</string>
            </dict>
            <key>cxyl_meishuzi_jinpainiu_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,302},{230,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{230,48}}</string>
                <key>sourceSize</key>
                <string>{232,50}</string>
            </dict>
            <key>cxyl_meishuzi_jinpainiu_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{230,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{230,48}}</string>
                <key>sourceSize</key>
                <string>{232,50}</string>
            </dict>
            <key>cxyl_meishuzi_jinpainiu_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,252},{230,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{230,48}}</string>
                <key>sourceSize</key>
                <string>{232,50}</string>
            </dict>
            <key>cxyl_meishuzi_jinpainiu_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{230,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{230,48}}</string>
                <key>sourceSize</key>
                <string>{232,50}</string>
            </dict>
            <key>cxyl_meishuzi_jinpainiu_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,202},{230,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{230,48}}</string>
                <key>sourceSize</key>
                <string>{232,50}</string>
            </dict>
            <key>cxyl_meishuzi_jinpainiu_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{230,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{230,48}}</string>
                <key>sourceSize</key>
                <string>{232,50}</string>
            </dict>
            <key>cxyl_meishuzi_jinpainiu_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,152},{230,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{230,48}}</string>
                <key>sourceSize</key>
                <string>{232,50}</string>
            </dict>
            <key>cxyl_meishuzi_jinpainiu_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,102},{230,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{230,48}}</string>
                <key>sourceSize</key>
                <string>{232,50}</string>
            </dict>
            <key>cxyl_meishuzi_jinpainiu_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,52},{230,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{230,48}}</string>
                <key>sourceSize</key>
                <string>{232,50}</string>
            </dict>
            <key>cxyl_meishuzi_new_jinniu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{115,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,48}}</string>
                <key>sourceSize</key>
                <string>{117,50}</string>
            </dict>
            <key>cxyl_meishuzi_new_niux_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,933},{34,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>cxyl_meishuzi_new_tonghuashunniu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{231,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{231,48}}</string>
                <key>sourceSize</key>
                <string>{233,50}</string>
            </dict>
            <key>cxyl_meishuzi_new_yinniu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{116,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,48}}</string>
                <key>sourceSize</key>
                <string>{118,50}</string>
            </dict>
            <key>cxyl_nn_zhuomian_anniuzi_qiang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,972},{98,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{98,47}}</string>
                <key>sourceSize</key>
                <string>{106,49}</string>
            </dict>
            <key>cxyl_nn_zhuomian_anniuzi_qiang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,915},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,47}}</string>
                <key>sourceSize</key>
                <string>{106,49}</string>
            </dict>
            <key>cxyl_nn_zhuomian_anniuzi_qiang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,47}}</string>
                <key>sourceSize</key>
                <string>{106,49}</string>
            </dict>
            <key>cxyl_nn_zhuomian_anniuzi_qiang_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,866},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,47}}</string>
                <key>sourceSize</key>
                <string>{106,49}</string>
            </dict>
            <key>cxyl_nn_zhuomian_anniuzi_qiang_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,840},{104,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,47}}</string>
                <key>sourceSize</key>
                <string>{106,49}</string>
            </dict>
            <key>cxyl_zhuomian_annhongse_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,502},{149,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,70}}</string>
                <key>sourceSize</key>
                <string>{151,72}</string>
            </dict>
            <key>cxyl_zhuomian_anniuzi_qiang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,889},{63,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{63,42}}</string>
                <key>sourceSize</key>
                <string>{77,46}</string>
            </dict>
            <key>cxyl_zhuomian_anniuzi_qiang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,561},{75,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{77,46}</string>
            </dict>
            <key>cxyl_zhuomian_anniuzi_qiang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,558},{73,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,44}}</string>
                <key>sourceSize</key>
                <string>{77,46}</string>
            </dict>
            <key>cxyl_zhuomian_anniuzi_qiang_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,515},{75,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{77,46}</string>
            </dict>
            <key>cxyl_zhuomian_anniuzi_qiang_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,512},{73,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,44}}</string>
                <key>sourceSize</key>
                <string>{77,46}</string>
            </dict>
            <key>nhn_dianliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,574},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>nhn_dianliang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,973},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>nhn_douniu_chouma_tuizhu_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,915},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,29}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>nhn_douniu_cuopai_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,460},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>nhn_douniu_cuopai_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{239,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,160}}</string>
                <key>sourceSize</key>
                <string>{239,160}</string>
            </dict>
            <key>nhn_douniu_zhuomian_tishi_di_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,36}}</string>
                <key>sourceSize</key>
                <string>{240,36}</string>
            </dict>
            <key>nhn_zhuo_yuyin_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,552},{99,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,49}}</string>
                <key>sourceSize</key>
                <string>{99,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desk_niuniu1.png</string>
            <key>size</key>
            <string>{479,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a438cce0d9e1ca638a6c9b65a3597be:1/1$</string>
            <key>textureFileName</key>
            <string>desk_niuniu1.png</string>
        </dict>
    </dict>
</plist>
