<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chi_ani_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{204,180}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{204,180}}</string>
                <key>sourceSize</key>
                <string>{256,220}</string>
            </dict>
            <key>chi_ani_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,184}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{252,184}}</string>
                <key>sourceSize</key>
                <string>{256,220}</string>
            </dict>
            <key>chi_ani_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,182}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{252,182}}</string>
                <key>sourceSize</key>
                <string>{256,220}</string>
            </dict>
            <key>chi_ani_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,186},{238,200}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{238,200}}</string>
                <key>sourceSize</key>
                <string>{256,220}</string>
            </dict>
            <key>chi_ani_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{206,184}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{206,184}}</string>
                <key>sourceSize</key>
                <string>{256,220}</string>
            </dict>
            <key>chi_ani_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{204,184}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,15},{204,184}}</string>
                <key>sourceSize</key>
                <string>{256,220}</string>
            </dict>
            <key>chi_ani_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,388},{234,220}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{234,220}}</string>
                <key>sourceSize</key>
                <string>{256,220}</string>
            </dict>
            <key>chi_ani_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{234,220}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{234,220}}</string>
                <key>sourceSize</key>
                <string>{256,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chi_ani.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>chi_ani.png</string>
        </dict>
    </dict>
</plist>
