<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_end_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,244},{225,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,408}}</string>
                <key>sourceSize</key>
                <string>{225,408}</string>
            </dict>
            <key>game_over_avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,2},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>game_over_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,654},{1101,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1101,119}}</string>
                <key>sourceSize</key>
                <string>{1101,119}</string>
            </dict>
            <key>message_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{921,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{921,119}}</string>
                <key>sourceSize</key>
                <string>{921,119}</string>
            </dict>
            <key>popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{1125,637}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1125,637}}</string>
                <key>sourceSize</key>
                <string>{1125,637}</string>
            </dict>
            <key>popup_normal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{680,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,422}}</string>
                <key>sourceSize</key>
                <string>{680,422}</string>
            </dict>
            <key>select_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,87},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>select_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,87},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>setting_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,121},{252,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,18}}</string>
                <key>sourceSize</key>
                <string>{252,18}</string>
            </dict>
            <key>setting_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,87},{254,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,20}}</string>
                <key>sourceSize</key>
                <string>{254,20}</string>
            </dict>
            <key>user_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1757},{370,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,146}}</string>
                <key>sourceSize</key>
                <string>{370,146}</string>
            </dict>
            <key>watting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,654},{370,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,204}}</string>
                <key>sourceSize</key>
                <string>{370,204}</string>
            </dict>
            <key>zhangji_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{921,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{921,119}}</string>
                <key>sourceSize</key>
                <string>{921,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popup.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>popup.png</string>
        </dict>
    </dict>
</plist>
