<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angry0.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1062},{112,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>angry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,998},{112,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>angry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1026},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>angry3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,981},{112,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>angry4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1151},{112,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>angry5.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1140},{112,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>angry6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,914},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>angry7.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1028},{112,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>fennu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,135},{108,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,140}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>fennu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,209},{108,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{108,132}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>fennu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,245},{100,136}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,136}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>han0.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,409},{115,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,129}}</string>
                <key>sourceSize</key>
                <string>{115,129}</string>
            </dict>
            <key>han1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,674},{115,123}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{115,123}}</string>
                <key>sourceSize</key>
                <string>{115,129}</string>
            </dict>
            <key>happy0.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,724},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>happy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,757},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>huaixiao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>huaixiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,654},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>huaixiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>huaixiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,548},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>huaixiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,526},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>huaixiao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,473},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>huaixiao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>huaixiao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,528},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>huaixiao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,528},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>jiong0.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,527},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{107,107}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>jiong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,898},{113,119}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{113,119}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>jiong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,845},{113,119}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{113,119}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>jiong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{145,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,131}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>jiong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,403},{129,123}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{129,123}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>jiong5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{147,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,135}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>lihai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,139},{22,36}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,72},{22,36}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,341},{82,132}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{82,132}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai10.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,341},{82,132}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,132}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,341},{82,132}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,132}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai12.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,341},{82,132}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{82,132}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,114},{90,146}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,146}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{82,132}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{82,132}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,341},{82,132}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{82,132}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai5.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,341},{82,132}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{82,132}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{82,132}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{82,132}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{82,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{82,132}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai8.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,319},{82,132}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{82,132}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>lihai9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{82,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{82,132}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>se0.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{89,142}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,142}}</string>
                <key>sourceSize</key>
                <string>{89,158}</string>
            </dict>
            <key>se1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{89,148}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,148}}</string>
                <key>sourceSize</key>
                <string>{89,158}</string>
            </dict>
            <key>se2.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{89,146}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,146}}</string>
                <key>sourceSize</key>
                <string>{89,158}</string>
            </dict>
            <key>se3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{89,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,158}}</string>
                <key>sourceSize</key>
                <string>{89,158}</string>
            </dict>
            <key>shaoxiang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,425},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>shaoxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,652},{121,123}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{121,123}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>shaoxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,478},{121,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,125}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>shaoxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,650},{121,121}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>shaoxiang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,599},{121,123}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,123}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>shihua0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1013},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>shihua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,960},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>shihua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,951},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>shihua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,887},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>shihua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,870},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>shihua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>sleep0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{129,133}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{129,133}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>sleep1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,396},{129,133}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{129,133}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>sleep2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,274},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>sleep3.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,347},{129,133}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{129,133}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>sleep4.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,207},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>sleep5.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,342},{129,133}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{129,133}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>sleep6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,206},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>sleep7.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,265},{129,133}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{129,133}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>sleep8.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,139},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>smaile0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>smaile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,903},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>smaile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,791},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>smaile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,775},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>smaile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,722},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>smaile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,601},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>smaile6.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,527},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>smaile7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>smaile8.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,780},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>touxiang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,93},{152,114}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{152,114}}</string>
                <key>sourceSize</key>
                <string>{162,116}</string>
            </dict>
            <key>touxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,93},{142,112}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{142,112}}</string>
                <key>sourceSize</key>
                <string>{162,116}</string>
            </dict>
            <key>touxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{162,114}}</string>
                <key>sourceSize</key>
                <string>{162,116}</string>
            </dict>
            <key>touxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{154,110}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{154,110}}</string>
                <key>sourceSize</key>
                <string>{162,116}</string>
            </dict>
            <key>yun0.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,636},{106,119}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{106,119}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1071},{112,101}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{112,101}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{116,129}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>yun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,146},{104,117}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{104,117}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>zhiya0.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,837},{112,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{112,120}</string>
            </dict>
            <key>zhiya1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,773},{112,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{112,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji_action_texture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>emoji_action_texture.png</string>
        </dict>
    </dict>
</plist>
