<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ShareSelect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,60},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>ShareSelect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,60},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>ShareSelect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>ShareSelect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{157,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,185}}</string>
                <key>sourceSize</key>
                <string>{157,185}</string>
            </dict>
            <key>ShareSelect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,56}}</string>
                <key>sourceSize</key>
                <string>{469,56}</string>
            </dict>
            <key>ShareSelect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,310},{179,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,52}}</string>
                <key>sourceSize</key>
                <string>{179,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShareSelect.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>ShareSelect.png</string>
        </dict>
    </dict>
</plist>
